@import url('../../ext/resources/css/ext-all.css');

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.focus {
  fill: none;
  stroke: red;
  stroke-width: 2px;
  cursor: move;
  shape-rendering: crispEdges;
}

.scrubber {
  fill: darkred;
  stroke: red;
  cursor: pointer;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

svg {
  background: white;
  font: 10px sans-serif;
}

path {
  fill: steelblue;
}

.annotation rect {
  cursor: move;
  shape-rendering: crispEdges;
}

.annotations {
	fill: lightgray;
}

.resize rect {
  fill: darkgrey;
  cursor: ew-resize;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

rect.pane {
  fill: none;
}
.play {
  background-image: url(famfamfam_silk_icons/icons/control_play.png) !important;
}

.pause {
  background-image: url(famfamfam_silk_icons/icons/control_pause.png) !important;
}

.rewind {
  background-image: url(famfamfam_silk_icons/icons/control_rewind.png) !important;
}

video {
    background: black;
}

rect.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

path.x {
  stroke: red;
  stroke-width: 1.5px;
  fill: none;
}

path.y {
  stroke: blue;
  stroke-width: 1.5px;
  fill: none;
}

path.z {
  stroke: green;
  stroke-width: 1.5px;
  fill: none;
}

circle.x {
  fill: red;
}

circle.y {
  fill: blue;
}

circle.z {
  fill: green;
}
